h1 {
    text-align: center;
}
.content {
    margin: 50px 0px;
}
.paginate {
    margin: 20px 0;
}
.paginate a,
.links a {
    margin-right: 20px;
}
.links {
    margin: 20px 0;
}
.button {
    padding: 5px 10px;
    border: 1px solid #bbbbbb;
}
.text_formated {
    white-space: pre-wrap;
}
input.title {
    border: 1px solid #ccc;
    min-width: 600px;
}
textarea {
    width: 100%;
    min-width: 600px;
    height: 60vh;
    border: 1px solid #ccc;
}



@media (max-width: 700px) {

    input.title {
        min-width: 100%;
    }

    textarea {
        min-width: 100%;
    }
}

